<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CMDB-AC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        body {
            background-color: whitesmoke;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: black;
        }

        .bodycontent {
            display: none;
        }
    </style>
</head>

<script>
    function addparam() {
        var div = document.getElementById('paramsvalues');
        var newNode = document.createElement('div');
        newNode.innerHTML = "<div class=\"input-group mb-1\"><div class=\"input-group-prepend\"><div class=\"input-group-text\"><input type=\"checkbox\" name=\"param" + document.getElementById("paramsvalues").childElementCount + "\" checked></div></div><input type=\"text\" name=\"paramkey" + document.getElementById("paramsvalues").childElementCount + "\" aria-label=\"Key\" class=\"form-control\" placeholder=\"Key\"><input type=\"text\" name=\"paramvalue" + document.getElementById("paramsvalues").childElementCount + "\"aria-label=\"Value\" class=\"form-control\" placeholder=\"Value\"></div>";
        div.appendChild(newNode);
    };

    function addheader() {
        var div = document.getElementById('headersvalues');
        var newNode = document.createElement('div');
        newNode.innerHTML = "<div class=\"input-group mb-1\"><div class=\"input-group-prepend\"><div class=\"input-group-text\"><input type=\"checkbox\" name=\"header" + document.getElementById("headersvalues").childElementCount + "\" checked></div></div><input type=\"text\" name=\"headerkey" + document.getElementById("headersvalues").childElementCount + "\" aria-label=\"Key\" class=\"form-control\" placeholder=\"Key\"><input type=\"text\" name=\"headervalue" + document.getElementById("headersvalues").childElementCount + "\"aria-label=\"Value\" class=\"form-control\" placeholder=\"Value\"></div>";
        div.appendChild(newNode);
    };

    $(document).ready(function () {
        $('.bodytype').click(function () {
            $('.bodycontent').hide();
            $('.' + $(this).data('rel')).show();
        });
    });
</script>

<body>

    <div class="container" style="margin-top: 10%;">
        <h1 id="title" class="text-center">CMDB Setup</h1>

        {% if error_message != null %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        <p class="text-center">
            Specify the necessary information to access your CMDB data model.
        </p>

        <h4 id="title" class="text-center">How to access to the CMDB CI types?</h4>


        <form action="{% url 'mapping:process_cmdb_setup' %}" method="post" id="citypesform">

            {% csrf_token %}

            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <select class="form-control" name="request_type">
                            <option>GET</option>
                            <option>POST</option>
                        </select>
                    </div>
                </div>
                <div class="col-10">
                    <div class="form-group">
                        <input type="url" class="form-control" name="url" placeholder="Enter request url">
                    </div>
                </div>
            </div>

            <div class="accordion" id="citypes">
                <div class="card">
                    <div class="card-header" id="params">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#paramscollapse" aria-expanded="true" aria-controls="paramscollapse">
                                <span style="text-decoration: none; color: black;">Params</span>
                            </button>
                        </h2>
                    </div>

                    <div id="paramscollapse" class="collapse show" aria-labelledby="params" data-parent="#citypes">
                        <div class="card-body" id="paramsvalues">
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" name="param0" checked>
                                    </div>
                                </div>
                                <input type="text" name="paramkey0" aria-label="Key" class="form-control"
                                    placeholder="Key">
                                <input type="text" name="paramvalue0" aria-label="Value" class="form-control"
                                    placeholder="Value">
                            </div>
                        </div>
                        <div class="ml-4">
                            <p id="addparam" class="btn btn-light" type="button" onclick="addparam()">Add param</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headers">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#headerscollapse" aria-expanded="false"
                                aria-controls="headerscollapse">
                                <span style="text-decoration: none; color: black;">Headers</span>
                            </button>
                        </h2>
                    </div>
                    <div id="headerscollapse" class="collapse" aria-labelledby="headers" data-parent="#citypes">
                        <div class="card-body" id="headersvalues">
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" name="header0" checked>
                                    </div>
                                </div>
                                <input type="text" name="headerkey0" aria-label="Key" class="form-control"
                                    placeholder="Key">
                                <input type="text" name="headervalue0" aria-label="Value" class="form-control"
                                    placeholder="Value">
                            </div>
                        </div>
                        <div class="ml-4">
                            <p id="addheader" class="btn btn-light" type="button" onclick="addheader()">Add header</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="body">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#bodycollapse" aria-expanded="false"
                                aria-controls="bodycollapse">
                                <span style="text-decoration: none; color: black;">Body</span>
                            </button>
                        </h2>
                    </div>
                    <div id="bodycollapse" class="collapse" aria-labelledby="body" data-parent="#citypes">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input bodytype" type="radio" name="bodytype" id="none"
                                    value="none" data-rel="none">
                                <label class="form-check-label" for="none">none</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="bodytype" id="form-data"
                                    value="form-data" disabled>
                                <label class="form-check-label" for="form-data">form-data</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="bodytype" id="x-www-form-urlencoded"
                                    value="x-www-form-urlencoded" disabled>
                                <label class="form-check-label"
                                    for="x-www-form-urlencoded">x-www-form-urlencoded</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input bodytype" type="radio" name="bodytype" id="raw"
                                    value="raw" data-rel="raw">
                                <label class="form-check-label" for="raw">raw</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="bodytype" id="graphql"
                                    value="graphql" disabled>
                                <label class="form-check-label" for="graphql">GraphQL</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <select class="form-control bodycontent raw" name="rawtype">
                                    <option>json</option>
                                    <option>text</option>
                                    <option>javascript</option>
                                    <option>html</option>
                                    <option>xml</option>
                                </select>
                            </div>

                            <div class="alert alert-secondary text-center mt-1 bodycontent none" role="alert">
                                This request does not have a body!
                            </div>

                            <div class="form-group bodycontent raw">
                                <textarea class="form-control" id="rawtext" rows="3" name="rawtext"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <input type="submit" class="btn btn-dark btn-lg" value="Send">
        </form>



        <!-- 
        <div class="text-center" id="loading" style="margin-top: 10%;">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    
        
    
        <h3 class="text-center">Explored range: {{ range }}</h3>
    
        <h3 class="text-center"></h3>
    
        <div id="success"></div> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>