<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CMDB-AC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        body {
            background-color: whitesmoke;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: black;
        }
    </style>
</head>

<body>
    <div class="container" style="margin-top: 10%;">
        <h1 class="text-center">CMDB AUTOMATIC CREATION</h1>

        {% if error_message != null %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        {% if secret == True %}
        <p>
            Specify the range of IP addresses you want to discover, in the format xxx.yyy.zzz.www-kkk (for example,
            specifying 192.168.001.001-254 will scan addresses 192.168.1.1 to 192.168.1.254). Leave it blank if you
            prefer the discovery to be made automatically.

            Introduce your machine password for better discovery.
        </p>

        <form action="{% url 'discovery:handle_range' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="secret" name="secret" value="True">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <label for="range">Address range:</label>
            <input type="text" id="range" name="range">
            <br>
            <input type="submit" class="btn btn-dark btn-lg" value="Send">
        </form>

        {% endif %}

        {% if secret == False %}
        <p>
            Specify the range of IP addresses you want to discover, in the format xxx.yyy.zzz.www-kkk (for example,
            specifying 192.168.001.001-254 will scan addresses 192.168.1.1 to 192.168.1.254). Leave it blank if you
            prefer the discovery to be made automatically.
        </p>

        <form action="{% url 'discovery:handle_range' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="secret" name="secret" value="False">
            <label for="range">Address range:</label>
            <input type="text" id="range" name="range">
            <br>
            <input type="submit" class="btn btn-dark btn-lg" value="Run primary discovery">
        </form>

        {% endif %}
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>